*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* first section */
@keyframes slaiding {
    from {
        background-color:gray ;
    }
    to{
        background-color: rgb(39, 74, 75);
    }
    
}
    
.container{
    border:900px;
    margin: auto;
    padding-top:25px;
    padding-left: 50px;
    width: 85%;
    color:white;
    background-color: black;
    border-radius: 30px;
    margin-top: 40px;
    animation: sliding 5s ease-in-out 0.5s 3 alternate;
    animation-play-state: running;
}
.section-a{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    padding-top: 20px;
}
.section-one{
    padding-left: 30px;
    padding-top: 20px;
}
.section-one h1{
    font-size: 50px;
} 
.section-one p{
    
    font-size: 15px;
}
.ancor{
    text-decoration: none;
    background-color: #dd0000;
    font-weight: 700;
    border-radius: 5px;
    padding:10px 30px;
    color: white;
}
/* .section-two{
    padding-top: 30px;
} */
.section-two img{
    padding-left:80px;
    height: 400px;
}
/* second section */
.section-link{
    border: 1px solid black;
    background-color: black;
    width: 20%;
    height: 200px;
    margin-top:30px ;
    padding: 25px;
    /* padding-bottom: 10px; */
    margin-left:80px ;
    border-radius: 6px;

}
.ancor-2 ,.ancor-3 ,.ancor-4,.blank1, .blank2, .blank3{
    text-decoration: none;
    display: block; 
    padding: 10px 20px;
    border-radius:12px ;
    margin:5px;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;

}
.ancor-2, .ancor-3, .blank2, .blank3{
    background-color: white;
    color: black;
}
.ancor-4,.blank1{
    background-color: red;
    color: white;
}
.section-grid{
    display: flex;
    width: 100%;
}
.blog{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 15px ;
    margin-right: 40px;
    padding-top: 20px;
    row-gap: 10px;
    column-gap: 20px;
    }
   
    .section-player{
        margin-top: 10px;
        /* padding-left: 20px; */
        width:245px;
        height: 360px;
        border:1px solid rgb(226, 223, 223);
        box-shadow: 1px 1px 1px rgb(226, 223, 223) ;
        border-radius: 5px; 
    }
    .images img{
        width: 245px;
        height: 200px;
        
        border-radius:5px ;
    }
    .head{
        margin-top: 20px;
        padding-left: 20px;
    }
    /* footer part */
    .footer{
        margin-top: 30px;
        padding: 80px;
        background-color: #1e1e1e;
        text-align: center;
         width:89%;
        height: 145px;
    }
    .footer h1{
        padding-right: 20px;
        color: white;
    }
    hr{
        border: 0.5px solid #363535;
        width : 100%;
    }

    .feild{
        color: wheat;
        font-size: 23px;
        margin: 10px;
    }
    .list li{
    list-style: none;
    color:bisque
    }
    .list ul{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        margin-right: 70px;
        padding-right: 80px;}

        /* newindex.html style */
        .play-link{
            border: 1px solid black;
            background-color: black;
            width: 50%;
            height: 230px;
            margin-top:40px ;
            padding: 10px 30px ;
            padding-bottom: 10px;
            margin-left:70px ;
            border-radius: 6px;
        
        }
        .start-main{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 10px;
            margin-top: 20px;

        }
        .world{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-left: 20px;
            padding-top: 20px;
            padding-left: 20px;
        }
        .country-vs{
            box-shadow: 1px 0px 0px rgba(0,0,0 ,.15);
            width:290px;
        }
        .country{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 20px;
            padding:20px;
        }
        .country-name{
            text-align: center;
        }

